acme==1.1.0
boto3==1.25.4
botocore==1.28.4
certbot==0.40.0
certifi==2019.11.28
chardet==3.0.4
cloudflare-ddns==1.4.0
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.8
dbus-python==1.2.16
distro==1.4.0
distro-info===0.23ubuntu1
future==0.18.2
idna==2.8
jmespath==1.0.1
josepy==1.2.0
mock==3.0.5
netifaces==0.10.4
parsedatetime==2.4
pbr==5.4.5
PyGObject==3.36.0
PyICU==2.4.2
pyOpenSSL==19.0.0
pyRFC3339==1.1
python-apt==2.0.0
python-dateutil==2.8.2
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
requests-toolbelt==0.8.0
s3transfer==0.6.0
six==1.14.0
ssh-import-id==5.10
ubuntu-advantage-tools==20.3
ufw==0.36
urllib3==1.25.8
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
